In [1]:
1+1

2

In [2]:
2+3*5+5

22

In [3]:
"my number is {} and name is{}".format(5,"aaron")

'my number is 5 and name isaaron'

In [5]:
print("my number is {} and name is{}".format(5,"aaron"))

my number is 5 and name isaaron

In [6]:
s = "ASDFSADFASG"

In [7]:
s[0:]

'ASDFSADFASG'

In [8]:
s[:3]

'ASD'

In [9]:
s[1:3]

'SD'

In [10]:
nest = [1,2,[4,5]]

In [11]:
nest[2][0]

4

# Lesson 2

In [14]:
d={'key':[1,2,3],'log':1}

In [15]:
d['key']

[1, 2, 3]

In [16]:
d['key'][2]

3

In [17]:
t = (1,2,3)

In [20]:
t[2]

3

In [21]:
t[1]=4; #illega

TypeError: 'tuple' object does not support item assignment

In [22]:
#set
{1,1,2,2,2,4,4,4}

{1, 2, 4}

# lesson 3

In [23]:
seq = [1,2,3,4,5]

In [25]:
for i in seq:
    print(i)

1
2
3
4
5

In [26]:
i =1
while i < 5:
    print ("{} is less than 5".format(i))
    i=i+1

1 is less than 5
2 is less than 5
3 is less than 5
4 is less than 5

In [27]:
range(0,5)

[0, 1, 2, 3, 4]

In [28]:
for x in range(0,5):
    print x

0
1
2
3
4

In [29]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [30]:
list(range(5))

[0, 1, 2, 3, 4]

# list comprehension

In [33]:
x = [1,2,3,4]
out = [1]
for num in x:
    out.append(num**2)

In [34]:
print(out)

[1, 1, 4, 9, 16]

In [35]:
[num**2 for num in x]

[1, 4, 9, 16]

In [36]:
def myfunc(name="test"):
    print(name)

In [37]:
myfunc()

test

In [38]:
myfunc(name="name")

name

In [39]:
myfunc

In [40]:
def square(input):
    """doc string """
    return input**2

In [41]:
square(5)

25

In [42]:
square

In [43]:
range

# part 4 lambdas

In [44]:
#map
def times2(input):
    return input*2

seq = [1,2,3,4]
map(times2,seq)

[2, 4, 6, 8]

In [45]:
list(map(times2,seq))

[2, 4, 6, 8]

In [46]:
lambda var2: var*2

In [48]:
list(map(lambda var2:var2*2,seq))

[2, 4, 6, 8]

In [50]:
list(filter(lambda num: num%2==0,seq))

[2, 4]

In [51]:
s = "heello how are you"

In [52]:
s.lower()

'heello how are you'

In [53]:
s.split()

['heello', 'how', 'are', 'you']

In [54]:
x =[(1,2),(4,5)]

In [55]:
x[0][1]

2

In [56]:
for item in x:
    print(item)

(1, 2)
(4, 5)

In [57]:
for (a,b) in x:
    print (a)

1
4

In [58]:
for a,b in x:
    print (b)

2
5